version: '3.8'

services:
  backend:
    build:
      context: ./app/backend
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./app/backend:/app
    environment:
      - POSTGRES_SERVER=db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=collabwrite
      - LANGUAGETOOL_URL=http://languagetool:8010
    depends_on:
      - db
      - languagetool

  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=collabwrite
    ports:
      - "5432:5432"

  languagetool:
    image: silviof/docker-languagetool:6.3
    ports:
      - "8081:8010"
    environment:
      - LANGTOOL_OPTS=-Xmx2g
    volumes:
      - languagetool_data:/languagetool
    restart: unless-stopped

volumes:
  postgres_data:
  languagetool_data: 